@import "./VariablesSass/Variables.scss";

.main-slide{
padding-top: 10px;
margin-bottom: -25px;
}

.carousel .slider-wrapper{
    width: 65%;
}

.carousel .thumb{
    width: 5%;
    height: 50px;
}

.carousel{
    text-align: center;
}

.carroimg{
    width: 250px;
    height: 300px;
}

.legend:hover{
    background-color: rgba(0, 0, 0,0.2);
}